*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    background-color: black;
    color: white;

}
ul li{
    display: inline-block;
    font-size: 50px;
    padding: 20px;
}
ul li:hover
{
    background-color: green;
    color: red;
}
.dropdown
{
    display:block ;
    position: absolute;
}
.dropdown ul li{
    display: block;
    margin-left: -.3cm;
}
.dropdown
{
    display: none;
}
ul li:hover .dropdown
{
    display: block;
}
